"*":
  "atom-material-ui":
    colors:
      abaseColor: "#5c6bc0"
      genAccent: true
      paintCursor: true
      predefinedColor: "Indigo"
    fonts:
      fontSize: 16
    tabs: {}
    ui:
      panelContrast: true
      panelShadows: true
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "welcome"
      "whitespace"
      "terminal-plus"
      "seti-icons"
      "browser-refresh-on-save"
      "language-gfm"
    ]
    hideGitIgnoredFiles: true
    projectHome: "/Users/voosierra/Dev/Code"
    telemetryConsent: "no"
    themes: [
      "nucleus-dark-ui"
      "atom-material-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Roboto Mono"
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "linter-ui-default":
    panelHeight: 60
    showPanel: true
  "markdown-preview-plus":
    previewSplitPaneDir: "down"
    useGitHubStyle: true
  "tree-view": {}
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
